<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bookmark.category.try(:name) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark), class: "button" %> |
<%= link_to 'Back', bookmarks_path, class: "button" %>
